dist/
node_modules/

*.log
*.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

.env
.env.local
.env.*.local

*.sqlite
*.db
*.db-journal

.vscode/
.idea/
.DS_Store

coverage/
.nyc_output/

.prettierrc
.prettierrc.js
.prettierrc.json
.eslintrc
.eslintrc.js
tsconfig*.json
